@font-face {
    font-family: rbyFont;
    src: url(data/rbyFont.ttf);
}
html, body {
    font-family: rbyFont; /*Specify your font name here*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*{
    font-family: rbyFont;
}
